<module>
    <resources>
        <resource path="assets" prefix="assets" />
    </resources>
    <components>
        <class package="." />
        <class package="ui" />
        <class package="components" />
        <class package="ui.components" />
        <class package="ui.views" />
    </components>
</module>